.dropdown {
  height: 50px;
  position: relative;
  display: inline-block;

  background-color: rgba(0, 0, 0, 1);
}


.dropdown:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  
  border-radius: 12px;
}

.dropdown-content a{
  display : block;
  text-decoration: none;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치
  */
  color: rgba(0, 0, 0, 1);
}


.dropbtn:hover .dropdown-content {
  display: block;
}

.dropbtn {
  margin: 0 40px;
  color: rgba(255, 255, 255, 1);

  font-size: 25px;
  font-weight: 500;
}