* {
  padding: 0;
  margin: 0;
}

.dropdown {
  width: 50px;
  padding: 12px 12px;

  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 600;

  background-color: blueviolet;
}

.dropdown .dropdown-content:hover {
  display: block;
}

.dropdown-content {
  /* display: none; */
}
